@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500;700&family=Quicksand:wght@300;400&display=swap')

 /*#b7657b #ee99a0;#f65451*/
 /* Google fonts
    font-family: 'Hind', sans-serif; (medium/ Bold) H1,H2
    font-family: 'Quicksand', sans-serif; (Light) P */

/*----- Components design -----*/
@import url('components/button.css');
@import url('components/card.css');
@import url('components/avatar.css');

/* * {
  border: 1px solid black;
} */

/* *{
  margin-left:0;
  margin-right:0;
  margin-top:0; */
  margin-bottom: 0;
}  */

/* ----Fonts ---*/
body {
  /*margin:64px 14px 32px 16px;;*/
  font-family: 'Quicksand', sans-serif;;
  /*background-color: #f65451;*/
}

h1, h2 {
  font-family: 'Hind', sans-serif;
}

h1 {
  font-size:45px;
  font-weight: bold;
  color: #555555;
  line-height: 50px;
  letter-spacing: 2px;
}

h2 {
  font-weight: medium;
  color: #555555;
}

p, li {
  color: #555555;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: normal;
}

a {
  font-family: 'Quicksand', sans-serif;
  font-weight: light;
  text-decoration: none;
  color: #f65451;
}

a:hover {
  color: #f9f3f3 ;
}

hr{
  border: 0;
  height: 0;
  width: 50%;
  margin: 0;
  border: 1px solid #fff;
}

.content-center{
  text-align: center;
}

.margin-btn-0 {
  margin-bottom: 0;
}

.margin-top-0{
  margin-top: 0;
}

.text-white {
  color: #ffffff;
}

.text-orange {
  color: #f65451;
}

.text-uppercase {
  text-transform:uppercase;
}

.text-ligth {
  font-weight: 300;
}

/*- social icon -*/
li {
  padding-left: 0;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}


.social-icon {
  font-size: 45px;
  color: #fcd1d1;
  margin-right: 12px;
}

.social-icon:hover {
  color: #ffffff;
}

/*- Button -*/
.btn-pink {
  border: 1px solid #fcd1d1 ;
  padding: 10px 20px;
  border-radius: 24px;
  color:#fff;
}

.btn-pink:hover {
  background-color:#ffffff;
  color:#f65451;
}


/*- Media Queries -*/
/*@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}*/


@media (max-width: 720px) {
  .sections {
    display: block;
    width: auto;
    margin: 0 auto;
    text-align: center;
  }
  .section-left {
    width: auto;
    /* padding-left: 100px; */
    padding: 140px 140px;
    text-align: center;
  }
  .section-right {
    width: auto;
  }
  
  hr {
    /* margin: 0 auto; */
    display: none;
  }
  .social-col{
    display: none;
  }
}

@media (max-width: 540px) {
  .sections {
    display: block;
    width: auto;
    margin: 0 auto;
    text-align: center;
  }
  .section-left {
    width: auto;
    padding: 83px 10px 10px 10px;
    text-align: center;
  }
  .section-right {
    width: auto;
    padding: 40px 8px;
  }
  
  hr {
    /* margin: 0 auto; */
    display: none;
  }
  .social-col{
    display: none;
  }
}