.sections {
 display: flex;
}

.section-left {
  flex-basis: 30%;
  padding: 140px 48px;
  background-color: #f65451
}

.section-right {
  flex-basis: 70%;
  padding: 100px 40px;
}

.card-white {
  background-color: white;
  padding: 52px 46px 52px 80px;
  width: auto;
  margin: 8px auto;
  /*text-align: center;*/
  border-radius: 4px;

}

.card-white:hover {
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.4);
  width: 80%;
}
