.sections {
 display: flex;
 margin: 0 auto;
 /* flex-wrap: wrap; */
}

.section-left {
  flex-basis: 35%;
  /* width: 35%; */
  /* padding: 140px 48px 140px 100px; */
  padding: 140px 82px;
  background-color: #f65451
}

.section-right {
  /* width: 65%; */
  flex-basis: 65%;
  padding: 100px 40px;
  align-items: center;
}

.card-white {
  background-color: white;
  padding: 38px 72px;
  padding: ;
  width: auto;
  margin: 8px auto;
  border-radius: 4px;

}

.card-white:hover {
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.4);
  width: 80%;
}
